:root {
    --clr-primary: #26282C;
    --clr-secondary: #737373;
}

* {
    margin: 0;
    padding: 0;
    color: var(--clr-primary);
    font-family: 'Plus Jakarta Sans', sans-serif;    
    box-sizing: border-box;
    /* border: 1px solid red; */
}

::before, ::after {
box-sizing: border-box;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* p {
    line-height: 1.5rem;
} */

button {
    cursor: pointer;
}

li {
    list-style: none;
    /* text-align: center; */
}

body {
    display: flex;
    background-color: #FAFAFA;
}

header {
    display: block;
    width: 5rem;
    min-height: 100svh;
    background-color: #FFFFFF;
}

header .container {
    display: flex;
    flex-direction: column;
    width: inherit;
    min-height: 90svh;
    gap: 1.25rem;
    background-color: #F7F8FA;
    padding: 1.25rem 0;
    align-items: center;
    border-right: 1px solid #EBECF2;
}

.logo,
.logo img {
    width: 2.5rem;
    height: 2.5rem;
}

.general_navs_div {
    display: flex;
    flex-direction: column;
    height: calc(90svh - 2.5rem);
    gap: 4rem;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

nav a {
    height: 2.5rem;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav a img {
    width: 1.5rem;
    height: 1.5rem;
    filter: brightness(0) saturate(100%) invert(82%) sepia(3%) saturate(361%) hue-rotate(314deg) brightness(87%) contrast(93%);
}

nav .active_link img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(36%) saturate(3792%) hue-rotate(237deg) brightness(93%) contrast(108%) !important;
}

nav a[aria-current="true"]::after {
    content: '';
    width: 0.1875rem;
    height: 1.3125rem;
    display: block;
    background-color: #0D062D;
    position: absolute;
    right: 0;
    border-radius: 2rem 0 0 2rem;
}

nav .theme_color {
    display: flex;
    flex-direction: column;
    width: 2.875rem;
    height: 5.75rem;
    align-items: center;
    gap: 1rem;
    border-radius: 100vh;
    background-color: #FFFFFF;
    padding: 0.5rem 0;
}

.theme_color button {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: none;
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme_color button img {
    width: 1.875rem;
    height: 1.875rem;
    filter: brightness(0) saturate(100%) invert(82%) sepia(3%) saturate(361%) hue-rotate(314deg) brightness(87%) contrast(93%);
}

.theme_color [aria-current="true"] {
    background-color: #34CAA5 !important;
}

.theme_color [aria-current="true"] img {
    width: 1.0547rem;
    height: 1.0547rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(62deg) brightness(105%) contrast(102%);
}

main {
    display: block;
    width: 100%;
}

main .title_section {
    width: 100%;
    height: 5.5rem;
    padding: 1.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5EAEF;
}

.title_section h1 {
    font-size: 1.25rem;
    font-weight: 600;
}

.title_section .container {
    display: flex;
    width: max-content;
    height: inherit;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.title_section .container .search_div {
    display: flex;
    width: 21.8125rem;
    height: 3rem;
    align-items: center;
    border: 1px solid #DADDDD;
    background-color: #FFFFFF;
    border-radius: 100vh;
    padding-left: 1rem;

    & img {
        width: 1.125rem;
        height: 1.125rem;
        /* cursor: pointer; */
    }
}

.title_section .container .search_div input {
    width: 100%;
    border: none;
    height: 2.5rem;
    border-radius: 100vh;
    padding: 0 0.5rem;
    font-size: 1rem;
    color: #A3A3A3;

    &:focus {
        outline: none;
    }
}

.title_section .container .date_div {
    display: flex;
    width: 12.0625rem;
    gap: 0.5rem;
    align-items: center;

    img {
        width: 1.125rem;
        height: 1.125rem; 
    }

    p {
        font-size: 0.875rem;
        font-weight: 500;
    }
}

.title_section .container .notification_icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.769px solid #DADDDD;
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
}

.title_section .container .user_div {
    display: flex;
    width: 13.4375rem;
    gap: 0.75rem;
    align-items: center;
    border-radius: 100vh;
    border: 1px solid #DADDDD;
    padding: 0.5rem;
}

.title_section .container .user_div img {
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
}

.title_section .container .user_div .user_name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title_section .container .user_div .user_name p {
    font-size: 1rem;
}

.title_section .container .user_div .user_name .user_email {
    font-size: 0.875rem;
    color: #787486;
}

.title_section .container .user_div .arrow_down {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

main .main_contents {
    display: grid;
    grid-template-columns: 1fr 14.9375rem 14.9375rem;
    grid-template-rows: repeat(2, auto);
    width: 100%;
    padding: 1.125rem;
    gap: 1.125rem;
}

.main_contents .bar_chart_div {
    grid-area: 1 / 1 / 1 / 2;
    display: block;
    width: 100%;
    height: 23.375rem;
    padding: 1.125rem;
    background-color: #FFFFFF;
    border-radius: 0.875rem;
    border: 1px solid #EDF2F7;
}

.bar_chart_div .chart_title {
    display: flex;
    width: 100%;
    height: 2.3125rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.bar_chart_div .chart_title h2 {
    font-size: 1.125rem;
    font-weight: 600;
}

.bar_chart_div .chart_title .sort_chart {
    display: flex;
    gap: 0.5rem;
    width: max-content;
    align-items: center;
}

.chart_title .sort_chart p {
    color: #3A3F51;
    font-size: 0.875rem;
}

.chart_title .sort_chart select {
    color: #3A3F51;
    font-size: 0.75rem;
    width: 6rem;
    line-height: 2rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: 1px solid #E1DFDF;

    &:focus {
        outline: none;
    }
}

.main_contents .second_child {
    grid-area: 1 / 2 / 1 / 4;
    display: grid;
    width: 100%;
    height: 23.375rem;
    gap: 1.125rem;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(2, 1fr);
}

.main_contents .second_child .first {
    grid-area: 1 / 1 / 1 / 2;
}

.main_contents .second_child .second {
    grid-area: 1 / 2 / 1 / 3;
}

.main_contents .second_child .third {
    grid-area: 2 / 1 / 2 / 2;
}

.main_contents .second_child .fourth {
    grid-area: 2 / 2 / 2 / 3;
}

.main_contents .second_child .container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: inherit;
    justify-content: space-between;
    height: 11.1875rem;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.875rem;
    border: 1px solid #EDF2F7;
}

.main_contents .second_child .container .child_1 {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    grid-area: 0.5rem;
}

.main_contents .second_child .container .child_1 .icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.769px solid #DADDDD;
    border-radius: 50%;
    padding: 0.6rem;
}

.main_contents .second_child .container .total {
    width: 100%;
    height: max-content;    
}

.main_contents .second_child .container .total h4 {
    font-size: 1.125rem;    
    color: #898989;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.main_contents .second_child .container .total p {
    font-size: 1.5rem;    
    font-weight: 600;
}

.main_contents .second_child .container .current_pct {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.current_pct p {
    font-size: 0.75rem;
}

.current_pct .percentage {
    display: inherit;
    gap: 0.3rem;
    align-items: center;
    width: max-content;
    padding: 0.3rem;
    border-radius: 1rem;
}

.current_pct:has(.chart_up) .percentage {
    background-color: rgba(52, 202, 165, 0.12);
}

.current_pct:has(.chart_up) .percentage p {
    color: #34CAA5;
}

.current_pct:has(.chart_down) .percentage {
    background-color: rgba(237, 84, 78, 0.12);
}

.current_pct:has(.chart_down) .percentage p {
    color: #ED544E;
}

.main_contents .last_order_table {
    grid-area: 2 / 1 / 2 / 2;
    display: block;
    width: 100%;
    height: max-content;
    padding: 1.125rem;
    background-color: #FFFFFF;
    border-radius: 0.875rem;
    border: 1px solid #EDF2F7;
}

.last_order_table thead, 
.last_order_table thead tr {
    display: flex;
    width: 100%;
    height: 2.5rem;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.last_order_table thead tr th {
    font-size: 1.125rem;
    font-weight: 600;
}

.last_order_table thead tr:last-child a {
    color: #34CAA5;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

.last_order_table tbody {
    display: block;
    width: 100%;
}

.last_order_table tbody tr {
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.last_order_table tbody tr:not(:first-child) {
    border-top: 1px solid #EDF2F6;
    padding: 1rem 0;
}

.last_order_table tbody tr th,
.last_order_table tbody tr td  {
    width: 7.25rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.last_order_table tbody tr th {
    color: #9CA4AB;
    margin-bottom: 1.25rem;
}

.last_order_table tbody tr th:nth-child(1),
.last_order_table tbody tr td:nth-child(1) {
    width: 11rem;
}

.last_order_table tbody tr td {
    display:  flex;
    align-items: center;
    gap: 0.5rem;
}

.last_order_table tbody tr td:nth-child(2) {
    color: #737373;
    font-weight: 400;
}

.last_order_table tbody tr .paid {
    color: #34CAA5;
    font-weight: 400;
}

.last_order_table tbody tr .refund {
    color: #ED544E;
    font-weight: 400;
}

.last_order_table tbody tr .view a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 400;
    font-size: 0.875rem;
    width: 100%;
    
    & img {
        width: 1rem;
        height: 1rem;
    }
}

.last_order_table tbody tr td img {
    width: 2.25rem;
    height: 2.25rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
}

.main_contents .top_platforms_div {
    grid-area: 2 / 2 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    width: 100%;
    padding: 1.125rem;
    background-color: #FFFFFF;
    border-radius: 0.875rem;
    border: 1px solid #EDF2F7;
}

.top_platforms_div .first_child {
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: space-between;

}

.top_platforms_div .first_child h4 {
    font-size: 1.125rem;
    font-weight: 600;
}

.top_platforms_div .first_child a {
    font-size: 1.125rem;
    font-weight: 500;
    color: #34CAA5;

    &:hover {
        text-decoration: underline;
    }
}

.top_platforms_div .platforms_container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: space-between;
    width: 100%;
}

.platforms_container .platform {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 5rem;
}

.platforms_container .platform label {
    font-size: 1.125rem;
    font-weight: 600;
}

.platforms_container .platform input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 40px;
    background: #F5F5F5;
    outline: none;
    -webkit-transition: 200ms;
    transition: 200ms;
    overflow: hidden;
}

.platforms_container .platform input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}

.platforms_container .platform input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}

/* different color for each range */
/* default odd child*/
.platforms_container .platform:nth-child(odd) input[type="range"]::-webkit-slider-thumb {
    background-color: #6160DC;
    box-shadow: -400px 0 0 395px #6160DC;
}

.platforms_container .platform:nth-child(odd) input[type="range"]::-moz-range-thumb {
    background-color: #6160DC;
    box-shadow: -400px 0 0 395px #6160DC;
}
/*  */

/* default even child */
.platforms_container .platform:nth-child(even) input[type="range"]::-webkit-slider-thumb {
    background-color: #34CAA5;
    box-shadow: -400px 0 0 395px #34CAA5;
}

.platforms_container .platform:nth-child(even) input[type="range"]::-moz-range-thumb {
    background-color: #34CAA5;
    box-shadow: -400px 0 0 395px #34CAA5;
}
/*  */

/* first child */
.platforms_container .platform:nth-child(1) input[type="range"]::-webkit-slider-thumb {
    background-color: #6160DC;
    box-shadow: -400px 0 0 395px #6160DC;
}

.platforms_container .platform:nth-child(1) input[type="range"]::-moz-range-thumb {
    background-color: #6160DC;
    box-shadow: -400px 0 0 395px #6160DC;
}
/*  */

/* second child */
.platforms_container .platform:nth-child(2) input[type="range"]::-webkit-slider-thumb {
    background-color: #54C5EB;
    box-shadow: -400px 0 0 395px #54C5EB;
}

.platforms_container .platform:nth-child(2) input[type="range"]::-moz-range-thumb {
    background-color: #54C5EB;
    box-shadow: -400px 0 0 395px #54C5EB;
}
/*  */

/* third child */
.platforms_container .platform:nth-child(3) input[type="range"]::-webkit-slider-thumb {
    background-color: #FFB74A;
    box-shadow: -400px 0 0 395px #FFB74A;
}

.platforms_container .platform:nth-child(3) input[type="range"]::-moz-range-thumb {
    background-color: #FFB74A;
    box-shadow: -400px 0 0 395px #FFB74A;
}
/*  */

/* fourth child */
.platforms_container .platform:nth-child(4) input[type="range"]::-webkit-slider-thumb {
    background-color: #FF4A55;
    box-shadow: -400px 0 0 395px #FF4A55;
}

.platforms_container .platform:nth-child(4) input[type="range"]::-moz-range-thumb {
    background-color: #FF4A55;
    box-shadow: -400px 0 0 395px #FF4A55;
}
/*  */
/*  */

.platforms_container .platform p {
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: space-between;
    font-size: 1.125rem;
    color: #525252;
    font-weight: 400;
}